.hero {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 50px 20px; */
    /* background-color: #f0f8ff;  */
}

.hero_content {
    max-width: 500px;
}

.top_hero_text {
    color: #969696;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 900;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.1em;
    line-height: 1.6;
}

.hero_image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}

.hero_image svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%; /* Powiększenie SVG o 20% w stosunku do kontenera */
    height: 150%; /* Powiększenie SVG o 20% w stosunku do kontenera */
}

.hero_image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 120%;
    max-height: 120%;
}

@media screen and (max-width: 1300px) {
    .hero_image svg, .hero_image img {
        width: 100%;
        height: 100%;
    }

    .hero {
        flex-direction: column-reverse;
        height: unset;
    }

    .hero_content {
        width: 70%;
        max-width: none;
        text-align: center;
        gap: 30px;
    }
}